.divContainer{

    display: inline-block;
    width: auto;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 20px;
    background-color: rgba(112, 61, 122, 0.8);


}

.divContainer img{
    /* border-radius: 50%; */
    align-items: center;
    /* width: 30rem; */
    /* height: 35rem; */
}